.perfilCard2{
  display: block;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 20px;
gap: 32px;
margin-top: 10px;
}

.perfilCard{
  display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
gap: 20px;
padding: 20px;
}


/* .perfilCard .perfilInfo{
  display: flex;
  height: 100%;
  width: 20%;
  padding: 5px;
  justify-content:center;
  align-items: center;
} */

.perfilCard .perfilInfo p{
  padding: 10px;
  border-radius:10px
  

}


.perfil,.nav-pills{
margin: 7.5px;
}

.details dt {
  display: inline-block;
  width: 30%;
  text-align: left;
  font-weight: bold;
  font-weight: 500;
}

.details dd {
  display: inline-block;
  color: #9a9494;
  width: 70%;
  text-align: right;
  margin-left: 0;
}

.detalhes{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-table;
  padding: 5px;
  
}.socialList{
  display: inline-table;
}

.socialList dt {
  display: inline-block;
  width: 25%;
  text-align: left;
  font-weight: bold;
  font-weight: 500;
}

.socialList dd {
  display: inline-block;
  color: #2d2d2d;
  width: 75%;
  text-align: right;
  margin-left: 0;
}

.socialButton{
  border-radius: 50px;
}

.dark {
  background-color: #333;
  color: #fff;
}

.fotoPerfil {
  object-fit: cover;
}

.custom-button-p {
  display: inline-block;
  padding: 6px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.custom-button-p:hover {
  background-color: #0056b3;
}