.profile-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: right;
}

.profile-image {
    width: 30px;
    height: 30px;
}

.profile-name {
    font-size: 0.8em;
    margin-left: 10px;
    margin-right: 10px;
}
