/* global.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

body.dark {
  /* Estilos para o modo escuro */
  background-color: #333;
  color: #fff;
}